<% include header.ejs %>
<link rel="stylesheet" href="/privatechat.css">
<script src="/socket/socket.io-client/dist/socket.io.js"></script>
<script src="/privatechat.js"></script>
<script type="text/javascript">
	var socket = io.connect()
	function emitUser(){
		socket.emit('new user chatWith',{user:"<%=user.email %>",chatWith:"<%= friend %>",userId:"<%=user._id%>"},function(data){

		})
		$('#sidebar_secondary').addClass('popup-box-on');
		$('#removeClass').click(function(){
			$('#sidebar_secondary').removeClass('popup-box-on')
			window.location = "/home"
		})
	}
	jQuery(function($){
		$addClass = $('#addClass')
		$left = $('#left')
		$right = $('#right')
		$msg = $('#submit_message')
		$chat = $('#chat')
		$notification = $('#notification')
		$msg.keypress(function(e){
			var key = e.which;
			if(key == 13){
				socket.emit("private-data",{msg:$msg.val(),user:"<%= friend %>",me:"<%= user.email %>",meId:"<%= user._id %>"})
				$left.append("<div class='chat_message_wrapper' id='left'><div class='chat_user_avatar'><img src='http://www.webncc.in/images/gurdeeposahan.jpg' class='md-user-image'></div><ul class='chat_message'><li><p>" + $msg.val() + "</p></ul></div>")
				$msg.val('')
				var scroll = document.getElementById("chat");
				scroll.scrollTop = scroll.scrollHeight;
			}
		})
		$addClass.click(function(){
			

		})
		socket.on('private-msg',function(data){
				var sound = document.getElementById("audio");
          		sound.play();
				$left.append("<div class='chat_message_wrapper chat_message_right'><div class='chat_user_avatar'><img  src='http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg' class='md-user-image'></div><ul class='chat_message' id='right'><li><p>"+ data +"<span class='chat_message_time'>13:34</span></p></li></ul></div>")
				var scroll = document.getElementById("chat");
				scroll.scrollTop = scroll.scrollHeight;
			})
		socket.on('alert msg',function(data){
			console.log("hello")
				$notification.append("<a style='color:blue' href='/chatWith?user=" + data + "'>You have a new message frrom " + data + "!!!Plzzz checkout</a>")
			})
	})
</script>
<body onload="emitUser()">

 <audio id="audio" src="/beep.mp3" autostart="false">
 </audio>
<
<div id = "notification" style="margin-top: 100px;">
	
</div>

<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">

<div class="popup-head">
	<div class="popup-head-left pull-left">
		<h1><%= friend %></h1>
	</div>
	<div class="popup-head-right pull-right">
		<button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i>
		</button>
    </div>
</div>

<div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
    <div class="chat_box touchscroll chat_box_colors_a" id="left">            
    </div>
</div>

<div class="chat_submit_box">
    <div class="uk-input-group">
        <div class="gurdeep-chat-box">
        <textarea placeholder="Type a message" id="submit_message" name="submit_message" class="md-input" style="color: black"></textarea>
    
    
    </div>
</div>
        
        </div>
</body>